@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.footer {
    height: 70px;
}
main {
    min-height: calc(85vh - 70px);
}
/*My Own styles*/
.mypd{
    padding: 0.3em;
}
.mymrgleft{
    margin-left: 0.3em;
}

/*Category Cards Styles*/
.categoryCard{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-self: center;
    grid-gap: 1em;
}
.categoryItem{
    /*border-radius: 0.5em;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemDescription{
    height: 40%;
    background-color: lightgray;
    padding: 1em;
    font-size: 14px;
}
.itemHeader{
    background-color: lightgray;
    font-weight: 600;
    padding: 0.5em;
    display: block;
    width: 100%;
    text-align: center;
}

.card-links {
    width: 80px;
    justify-content: space-between;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 1;
    display: none;
}

.card-svg {
    fill: #fff;
}

.categoryItem:hover .card-svg {
    fill: #c7b299;
}
.categoryItem:hover .card-links {
    display: block;
}
.card-link:hover .card-svg {
    fill: #c7b299;
    transform: scale(1.5);
}
/*Good Cards Styles*/
.goodCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/*Media*/
@media screen and (max-width: 640px){
    .categoryCard{
        grid-template-columns: repeat(1, 1fr);
    }
    .itemDescription{
        height: 50%;
        font-size: 10px;
    }
}
